<header class="flex justify-content-between align-items-center px-6 bg-gray-900">
  <img src="/logo.png" alt="Logo" class="logo">
  <nav class="flex flex-wrap justify-content-end gap-2">
    @if (isLoggedIn | async) {
      <p>Bienvenido {{ email | async }}</p>
      @if ((role | async) === 'student') {
        <p-button routerLink="/student/dashboard" label="Dashboard Estudiante" icon="pi pi-home"></p-button>
      } @else if ((role | async) === 'company') {
        <p-button routerLink="/company/dashboard" label="Dashboard Empresa" icon="pi pi-building"></p-button>
      } @else if ((role | async) === 'admin') {
        <p-button routerLink="/admin/dashboard" label="Dashboard Admin" icon="pi pi-cog"></p-button>
      }
      <p-button routerLink="/perfil" label="Perfil" icon="pi pi-user"></p-button>
      <p-button (click)="logout()" label="Logout" icon="pi pi-sign-out"></p-button>
    } @else {
      <p-button routerLink="/auth/login" label="Iniciar Sesión" icon="pi pi-sign-in"></p-button>
      <p-button routerLink="/auth/register/student" label="Registrarse" icon="pi pi-user-plus"></p-button>
    }
  </nav>
</header>
