<div class="fullscreen w-full flex justify-content-center align-items-center">
  <div class="login-layout surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img src="/logo.png" alt="Logo" class="login-image">
      <div class="mb-3">
        <h1 class="text-900 text-3xl font-medium mt-0">BridgeTI</h1>
      </div>
      <div class="flex gap-2 flex-column">
        <span class="text-600 font-medium line-height-3">¿No tienes cuenta? Crea una cuenta ahora!</span>
        <div class="flex justify-content-evenly align-items-center">
          <p-button routerLink="/auth/register/student" label="Estudiante" icon="pi pi-user"></p-button>
          <p-button routerLink="/auth/register/company" label="Empresa" icon="pi pi-briefcase"></p-button>
        </div>
      </div>
    </div>
    <form class="flex flex-column gap-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-column justify-content-center align-items-center gap-5">
        <div class="w-full flex flex-column">
          <p-floatLabel>
            <input
              id="email"
              type="text"
              pInputText
              class="w-full"
              formControlName="email"
              [class.ng-invalid]="loginForm.controls.email.errors"
              [class.ng-dirty]="loginForm.controls.email.dirty"
            >
            <label for="email" class="block text-900 font-medium">Correo Electrónico</label>
          </p-floatLabel>
          @if (loginForm.controls.email.errors?.['required'] && loginForm.controls.email.dirty) {
            <small class="text-red-700 ml-3 mt-1">Correo Electrónico es requerido</small>
          } @else if (loginForm.controls.email.errors?.['email'] && loginForm.controls.email.dirty) {
            <small class="text-red-700 ml-3 mt-1">Correo Electrónico no es valido!</small>
          }
        </div>
        <div class="w-full flex flex-column">
          <span class="p-float-label w-full">
            <p-password
              id="password"
              formControlName="password"
              [toggleMask]="true"
              [feedback]="true"
              styleClass="w-full"
              [style]="{'width':'100%'}"
              inputStyleClass="w-full"
              [class.ng-invalid]="loginForm.controls.password.errors"
              [class.ng-dirty]="loginForm.controls.password.dirty"
              promptLabel="Elige una contraseña"
              weakLabel="Simple"
              mediumLabel="Medium"
              strongLabel="Fuerte"
            >
              <ng-template pTemplate="footer">
                <p-divider></p-divider>
                <ul class="pl-2 ml-2 my-0 leading-normal">
                  <li [class.text-green-600]="!loginForm.controls.password.errors?.['lowercase']"
                      [class.text-red-700]="loginForm.controls.password.errors?.['lowercase']">
                    Al menos una letra minúscula
                  </li>
                  <li [class.text-green-600]="!loginForm.controls.password.errors?.['uppercase']"
                      [class.text-red-700]="loginForm.controls.password.errors?.['uppercase']">
                    Al menos una letra mayúscula
                  </li>
                  <li [class.text-green-600]="!loginForm.controls.password.errors?.['number']"
                      [class.text-red-700]="loginForm.controls.password.errors?.['number']">
                    Al menos un número
                  </li>
                  <li [class.text-green-600]="!loginForm.controls.password.errors?.['specialCharacter']"
                      [class.text-red-700]="loginForm.controls.password.errors?.['specialCharacter']">
                    Al menos un carácter especial
                  </li>
                  <li [class.text-green-600]="!loginForm.controls.password.errors?.['length']"
                      [class.text-red-700]="loginForm.controls.password.errors?.['length']">
                    Entre 8 y 20 caracteres
                  </li>
                </ul>
              </ng-template>
            </p-password>
            <label for="password" class="block text-900 font-medium">Contraseña</label>
          </span>
          <!-- Mostrar mensaje genérico si es inválido -->
          @if (loginForm.controls.password.errors && loginForm.controls.password.dirty) {
            <small class="text-red-700 ml-3 mt-1">Por favor revisa las reglas de la contraseña.</small>
          }
        </div>
      </div>
      <div class="flex align-items-center justify-content-between mb-6">
        <div class="flex align-items-center">
          <p-checkbox
            id="rememberme"
            [binary]="true"
            formControlName="rememberMe"
            inputId="rememberme"
            class="mr-2"
          />
          <label for="rememberme" class="text-900">Recuerdame</label>
        </div>
      </div>
      <button pButton pRipple label="Iniciar Sesión" icon="pi pi-user" class="w-full"
              [disabled]="loginForm.invalid"></button>
      <div *ngIf="errorMessage !== null" class="text-red-700 ml-3 mt-1 text-center">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
