<section>
  <h2 class="text-center text-4xl">¿Por qué elegir BridgeTI?</h2>
  <div class="flex flex-column lg:flex-row lg:justify-content-center align-items-center gap-4 py-4">
    <div class="flex flex-column gap-2 align-items-center w-25rem">
      <i class="pi pi-clock text-5xl text-primary"></i>
      <p class="text-3xl">Ahorra Tiempo</p>
      <p class="text-lg m-0 text-center">Encuentra el empleo perfecto rápidamente con nuestro sistema inteligente</p>
    </div>
    <div class="flex flex-column gap-2 align-items-center w-25rem">
      <i class="pi pi-building text-5xl text-primary"></i>
      <p class="text-3xl">Mejores Empresas</p>
      <p class="text-lg m-0 text-center">Conecta con empresas tecnológicas líderes a nivel mundial</p>
    </div>
    <div class="flex flex-column gap-2 align-items-center w-25rem">
      <i class="pi pi-check text-5xl text-primary"></i>
      <p class="text-3xl">Empleos Verificados</p>
      <p class="text-lg m-0 text-center">Todas las ofertas son verificadas y de empleadores legítimos</p>
    </div>
  </div>
</section>
