
* {
  font-size: clamp(12px, 2.5vw, 14px);
}

html,
body,
app-root
{
  margin: 0;
  padding: 0;
  min-width: 324px;
  display: block;
  background: linear-gradient(180deg, rgb(31, 41, 55), rgb(51, 65, 85), rgb(15, 23, 42));
}

*[id$="page"] > div {
  min-height: 100dvh !important;
  height: 100% !important;
}

body.no-scroll {
  overflow: hidden;
}

.fullscreen {
  min-height: 100dvh !important;
}
